## Localstack을 활용하여, 외부 통신 없이 테스트.

services:
  fastapi:
    build:
      secrets:
        - GIT_CREDENTIAL
      context: .
      args:
       LETSUR_DEV: 1
    image: "513348493870.dkr.ecr.ap-northeast-2.amazonaws.com/delightful-deploy:${LETSUR_ML_PROJECT_NAME:-app}-${IMAGE_VERSION:-v0.1.0}"
    command:
      - "--reload"
    env_file:
      - .env.core
      - .env
    environment:
      - LAMP_STAGE=dev
      - LETSUR_APP_IS_LOCAL=True
      - LETSUR_APP_IS_LOCALSTACK=True
      - CELERY_BROKER_HOST=localstack
      - AWS_ACCESS_KEY_ID=letsur-dev
      - AWS_SECRET_ACCESS_KEY=1234
      - AWS_DEFAULT_REGION=ap-northeast-2
      - LETSUR_REDIS_URL=redis://redis:6379
    ports:
        # - 8080:8080 # 포트 직접 binding 필요 시 주석 제거 및 밑줄 주석
      - ${LETSUR_PORT:-8080}:8080
    volumes:
      - ./src:/code/src
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 500M
        reservations:
          cpus: "0.2"
          memory: 200M
    depends_on:
      localstack:
        condition: service_healthy

  celery-worker:
    build:
      context: .
      args:
       LETSUR_DEV: 1
    image: "513348493870.dkr.ecr.ap-northeast-2.amazonaws.com/delightful-deploy:${LETSUR_ML_PROJECT_NAME:-app}-${IMAGE_VERSION:-v0.1.0}"
    entrypoint:
      bash -c "watchmedo auto-restart -d src/ -p '*.py' -R -- celery -A src._core.celery worker -l INFO"
    env_file:
      - .env.core
      - .env
    environment:
      - LAMP_STAGE=dev
      - LETSUR_APP_IS_LOCAL=True
      - LETSUR_APP_IS_LOCALSTACK=True
      - CELERY_BROKER_HOST=localstack
      - AWS_ACCESS_KEY_ID=letsur-dev
      - AWS_SECRET_ACCESS_KEY=1234
      - AWS_DEFAULT_REGION=ap-northeast-2
      - LETSUR_REDIS_URL=redis://redis:6379
      - CELERY_WORKER_PREFETCH_MULTIPLIER=1
      - CELERY_WORKER_CONCURRENCY=2
    volumes:
      - ./src:/code/src
    depends_on:
      localstack:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2G
        reservations:
          cpus: "0.2"
          memory: 400M

  localstack:
      image: localstack/localstack:3.8.1
      ports:
        - "4566"            # LocalStack Gateway
      environment:
        - SERVICES=s3,sqs
        - DEBUG=${LETSUR_DEBUG:-1}
        - AWS_ACCESS_KEY_ID=letsur-dev
        - AWS_SECRET_ACCESS_KEY=1234
        - AWS_DEFAULT_REGION=ap-northeast-2
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - 6379
    environment:
      - REDIS_PASSWORD=my-password
      - REDIS_PORT=6379

secrets:
  GIT_CREDENTIAL:
    environment: GIT_CREDENTIAL
